// colors
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

/*自定义颜色*/
$blackFont = #021D33
$blackFont_7 = rgba(2,29,51,0.70)
$blackFont_5 = rgba(2,29,51,0.50)
$blackFont_3 = rgba(2,29,51,0.30)
$blackFont_1 = rgba(2,29,51,0.10)
$backgroundColor = #F7F7FA

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
